@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.sc-speaker{
  height:250px;
  width:250px;
}

.s-name{
  color: white !important;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 60px;
    height: 60px;
}

.widewrapper {
  width:100%;
  }

.widewrapper > img {
  width:100%;
}

.text-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black; 
    font-size: 56px;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
.big-header{
display:none;
}
}

.nav-fixed {
  background-color: #fff;
  position:fixed !important; 
  z-index: 1030; 
  width:100%;
  background: linear-gradient(to right, rgb(255, 0, 132), rgb(51, 0, 27));
}

.footer-style{
  background-color: #910303;
}

.nav-img { 
  width:150px; 
  margin-right:20px;
}

@media only screen and (max-width: 640px) {
.nav-img { 
  width:80px; 
  margin-right:20px;
  }
}

a.nav-link {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    margin-left:10px;
    margin-right: 10px;
}

a.nav-link:hover {
    font-size: 20px;
    color:#f1f442 !important;
    border-bottom: 2px solid #f1f442;
    margin-left:10px;
    margin-right: 10px;
    transition: background 0.2s ease-in-out;
}

.title-img {
  overflow:hidden;
  background: url(images/site-1.jpg) no-repeat;
  background-size: cover;
  color:white;
  font-size:60px;
  font-weight:600;
  padding:100px 100px;
  text-align: center;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  margin-top: -1px;
}

@media only screen and (max-width: 864px) {
  .title-img {
    font-size: 30px;
    font-weight: 300;
    padding: 10%;
    width: 100%;
    background-size: 100%;
  }
}

@media only screen and (max-width: 640px) {
.title-img{
margin-top: -50px;
}
}
.center-text {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.img-third {
  width:70%;
}

@media only screen and (max-width: 574px) {
  .img-third {
    width:45%;
    display:inline;
  }
}

h2.date-title {
  text-align:center;
  font-weight:500;
}

p.sub-text {
  text-align:center;
  color: #9e0000;
  font-size: 20px;
  font-weight: 700;
}

.speaker-img {
  max-width:180px;
  margin-top:30px;
  border:5px solid white;
}

.speaker-img:hover {
  max-width:180px;
  margin-top:30px;
  border:5px solid #eee;
  transition: background 0.2s ease-in-out;
}

.para-text {
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

span.center-frame {
  text-align:center;
  font-weight:500;
}

@media only screen and (max-width: 399px) {
span.center-frame {
  text-align:center;
  font-weight:500;
  margin-left:-30px;
  }
}

@media only screen and (max-width: 864px) {
  .vid-clip {
    width:120%;
    height:120%;
  }
}


.white-text {
  font-color:white;
}

.credit-section-tv {
  background: url(images/the-stand.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9);
  margin-top:30px; 
  padding-top:30px; 
  background-color:black;
}

@media only screen and (max-width: 864px) {
  .credit-section-tv {
  background: url(images/the-stand.jpg) no-repeat;
  background-size: 864px;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9);
  margin-top:30px; 
  padding-top:30px; 
  background-color:black;
}
}

.credit-section-radio {
  background: url(images/ross-room.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(77,5,5,.9);
  margin-top:0px; 
  padding-top:30px; 
  background-color:black;
}

@media only screen and (max-width: 864px) {
  .credit-section-radio {
  background: url(images/ross-room.png) no-repeat;
  background-size: 864px;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(77,5,5,.9);
  margin-top:0px; 
  padding-top:30px; 
  background-color:black;
}
}

.credit-title {
  font-weight: 800;
  font-size: 18px;
  color: #000;
  display:block;
}

.credit-info {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display:block;
}

.credit-bottom {
  margin-bottom: 20px;
}

footer.page-footer {
  margin-top:0px;
}

.texture-bg {
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@media only screen and (max-width: 704px) {
.texture-bg {
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 2em;
;
  }
}

.credit-title-black {
  font-weight: 800;
  font-size: 18px;
  color: #000;
  display:block;
}

.credit-info-black {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display:block;
}

 .credit-section-color {
  margin-top:30px; 
  padding-top:30px; 
  background-color: #fff;
}

.white-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #000;
  }

.head-space{
  padding-top:110px;
}

.full-img {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.credit-section {
  margin-bottom:30px;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

.bh-text-big {
  font-family: 'Shrikhand', cursive;
  font-size: 72px;
  text-align: center;
  display: block;
  margin-top: 40px;
}

.bh-text-medium {
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.bh-p {
  font-family: arial, sans-serif;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}

/* START CONTACT FORM CSS */
input.contact-input {
  display:block;
  max-width:400px;
  min-width:300px;
  /*border: 3px solid #333;*/
}

/*input.contact-input:focus {
  display:block;
  max-width:400px;
  min-width:300px;
  border: 3px solid #333;
  outline: 4px solid #feb645;
}
*/
.form-container {
  margin-left:15%;
  margin-right:10%;
}

@media only screen and (max-width: 704px) {
.form-container {
  margin-left:1%;
  margin-right:1%;
  }
}
.form-group {
  margin-top: 15px;
  margin-bottom: 30px !important;
}

label.form-label {
  font-size: 20px;
  font-weight: 600;
  font-family:arial, sans-serif;
  color: #fff;
}

input[type="submit"] {
    padding: 10px;
    background: #E0009D;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    border: 2px solid white;
}

input[type="submit"]:hover {
    padding: 10px;
    background: #70004F;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    border: 2px solid white;
    transition: background 0.2s ease-in-out;
}

form.form-style {
    margin-left: 12px;
}

footer.page-footer .footer-copyright {
line-height:20px;
  }

.mobile-style {
  display:none;
}

@media only screen and (max-width: 768px) {
.mobile-style {
  display:block;
  }
}

div.form-color {
  background-color: #288628;
  background: -moz-linear-gradient(0deg, rgba(50,97,50,1) 17%, rgba(22,175,22,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(50,97,50,1) 17%, rgba(22,175,22,1) 100%);
  background: linear-gradient(0deg, rgba(50,97,50,1) 17%, rgba(22,175,22,1) 100%);
} 

h2.form-title {
  color: #fff;
}

input, select, textarea{
    color: #fff;
    font-size: 16px;
}
/* sets the colour of the place holder text in the text area*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

textarea#message {
    border: 2px solid white;
    padding: 5px;
    width: 300px;
    height: 300px;
    display: block;
}

/* END CONTACT FORM CSS */

.title-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 90px;
  text-shadow:2px 2px 20px #000;

}

.subtitle-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 60px;
  text-shadow:2px 2px 20px #000;
}

@media only screen and (max-width: 824px) {
.title-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 60px;
  text-shadow:2px 2px 20px #000;
}

.subtitle-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 40px;
  text-shadow:2px 2px 20px #000;
  }
}

.body-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  margin-bottom:15px;
  font-size: 40px;
  color:#288628;
}

.intro-text {
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 591px) {
.title-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 32px;
  text-shadow:2px 2px 20px #000;
  }
.subtitle-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 24px;
  text-shadow:2px 2px 20px #000;
  }
.body-text {
  font-family: 'Gloria Hallelujah', sans-serif;
  margin-bottom:15px;
  font-size: 26px;
  }
}

p.footer-text{
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/* Prevents breaking box dimensions with margin, padding or borders.

*/
/*  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
*/
img.img-show {
    width: 70px;
    display: inline;
    float: left;
    margin-right: 20px;
    /* margin-bottom: 50px; */
}

@media only screen and (max-width: 991px) {
a.nav-link {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}
}