.footer-title{
    font-size: 20px;
    font-weight:800;
    color: rgb(242, 0, 255);
}

.footer-style{
    background-color:#010042; 
    border-top:5px solid #159174;
}

.ftr-link:hover{
    text-decoration: none;
}

@media only screen and (max-width:767px) {
    .ftr-link{
      color:  #f200ff !important;
      border-bottom:solid 2px transparent;
      margin-bottom: 5px;
      font-size: 1em;
    }
  
    .ftr-link:hover{
      color: rgb(242, 0, 255, 0.8) !important;
    }
  }
  
  @media only screen and (min-width:768px) {
    a.ftr-link{
      font-family: 'Questrial', sans-serif;
      text-align: center;
      outline: none;
      color: rgb(242, 0, 255) !important;
      text-decoration: none;
      font-weight: 600;
      font-size: 1em;
      border-bottom: solid 2px transparent;
      transition: border 0.5s;
      -webkit-transition: border 0.5s linear;
      -moz-transition: border 0.5s linear;
      -o-transition: border 0.5s linear;
    }
  
    .ftr-link:hover{
      color: rgb(242, 0, 255, 0.8) !important;
    }
    .row-ftr {
        margin-left: -5px;
    }
  }

  .footer-copyright{
      color:#159174;
      font-weight:800;
  }

 