.footer-title{
    font-size: 24px;
    font-weight:800;
    color:#fff;
}

.footer-style{
    background-color:#010042; 
    /* border-top:5px solid #F47983; */
    margin-top:50px;
}

.ftr-link{
    color: #fff;
    border-bottom:solid 2px transparent;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    padding: 2px;
}

.ftr-link:hover{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8) !important;
}

.ftr-link:focus {
    outline: 2px solid #fff;
}

@media only screen and (max-width:767px) {
    .ftr-link{
      margin-bottom: 5px;
    }
  }
  
  @media only screen and (min-width:768px) {
    a.ftr-link{
      text-align: center;
      outline: none;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      line-height:30px;
      transition: border 0.5s;
      -webkit-transition: border 0.5s linear;
      -moz-transition: border 0.5s linear;
      -o-transition: border 0.5s linear;
    }
    .row-ftr {
        margin-left: -5px;
    }
  }

  .footer-copyright{
      color:#16BB95;
      font-weight:800;
      font-size:18px;
  }

 ul > li > a > i {
     margin-right:10px;
 }

 /* underline animation */
.ftr-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  .ftr-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .ftr-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* end of underline animation */

  .ftr-nav-link {
    margin-bottom:10px;
  }

  .ftr-nav-link:nth-last-child() {
    margin-bottom:0px;
  }