.footer-title{
    font-size: 28px;
    font-weight:800;
    color:#fff;
    font-family:'Schoolbell', cursive;
}

.footer-style{
    background-color:#010042; 
    margin-top:50px;
}

.ftr-nav-link{
  display:inline-block;
  margin-right: 1em;
}

.ftr-link{
    color: #fff;
    border-bottom:solid 2px transparent;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    padding: 2px;
}

.ftr-link:hover{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8) !important;
}

.ftr-link:focus {
    outline: 2px solid #fff;
}

@media only screen and (max-width:767px) {
    .ftr-link{
      margin-bottom: 5px;
    }
  }
  
  @media only screen and (min-width:768px) {
    a.ftr-link{
      text-align: center;
      outline: none;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      line-height:30px;
      transition: border 0.5s;
      -webkit-transition: border 0.5s linear;
      -moz-transition: border 0.5s linear;
      -o-transition: border 0.5s linear;
    }
    .row-ftr {
        margin-left: -5px;
    }
  }

  .footer-copyright{
      color:#16BB95;
      font-weight:800;
      font-size:18px;
  }

 ul > li > a > i {
     margin-right:10px;
 }

 /* underline animation */
.ftr-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  .ftr-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .ftr-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* end of underline animation */

  .ftr-nav-link {
    margin-bottom:10px;
  }

  .ftr-nav-link:nth-last-child() {
    margin-bottom:0px;
  }

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
  padding: 0;
  display:block;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoYoutube:hover {
	background-color:#FF0000;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.social-circle i {
	color: #010042;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

a.soc-link {
 background-color: #16bb95;   
}

a.soc-link:focus {
  outline: 2px solid #fff; 
 }