html, body {
    margin: 0px;
    font-family: 'Questrial', sans-serif;
    font-size:18px;
    color:#010042;
    scroll-behavior: smooth; 
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
} 

.light-text {
    color: white;
    padding: 20px;
    font-size:20px;
}

.darker-text {
    color: #010042;
    padding: 20px;
    font-size:20px;
}

.img-col{
    background: url(images/site-1-small.jpg) no-repeat;
    background-size: cover;
}

.container-navy{
    background-color:#010042;
    margin-top:-16px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-white{
    background-color:#fff;
    margin-top:-15px;
}

.icon-heading{
    display: block;
}

/* Main polaroid image */
.polaroid{
    width:340px;
    border: 12px solid white;
    margin: 20px auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: rotate(-2deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.polaroid-text{
    background-color: #fff;
    padding:10px 5px;
    display:block;
    border: 2px solid white;
    outline:1px solid white;
    text-align:center;
    font-family: 'Schoolbell', cursive;
    color:#010042;
    word-break: normal;
    /* font-family: 'Gochi Hand', cursive; */
}

.polaroid-img{
    object-fit: cover;
    width:100%;
    height:260px;
}
/* /. */

/* small polaroid img */
.polaroid-sml{
    width: 250px;
    height:auto;
    border: 12px solid white;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: rotate(-2deg) !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.polaroid-text-sml{
    background-color: #fff;
    padding:10px 5px;
    display:block;
    border: 2px solid white;
    outline:1px solid white;
    text-align:center;
    font-family: 'Schoolbell', cursive;
    color:#010042;
    word-break: normal;
    /* font-family: 'Gochi Hand', cursive; */
}

.polaroid-img-sml{
    object-fit: cover;
    width:100%;
    height:auto;
}
/* /. */

.main-style{
    background-color:#fff;
}

@media only screen and (max-width:767px) {
    .light-text {
        font-size: 18px;
    }
    .darker-text {
        font-size: 18px;
    }
    .polaroid{
        width:300px;
    }
    .polaroid-img{
        height:230px;
    }
}

@media only screen and (min-width:768px) {
.credit-section-title {
    margin-left:5px;
    }
}

/* Credit style */
.tv-credit{
    display:block;
    margin-bottom: 20px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.radio-credit{
    display:block;
    margin-bottom: 20px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.online-credit{
    display:block;
    margin-bottom: 20px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.theatre-credit{
    display:block;
    margin-bottom: 20px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

/* .tv-credit:nth-child(2){
    border-left: 10px solid #159174;
}

.tv-credit:nth-child(3){
    border-left: 10px solid #020058;
}

.tv-credit:nth-child(4){
    border-left: 10px solid #f200ff;
} */

.credit-title {
  font-size:20px;
  display:block;
  font-weight: 800;
  word-break: normal;
}

.credit-info {
    display:block;
    word-break: normal;
}

.credit-producer{
    word-break: normal;
    display:none;
}

.credit-channel{
    display:block;
}

.credit-section-title {
    margin-top: 30px;
    margin-bottom: -18px;
}

/* form style */
.form-color{
    background-color: #159174;
    color:white;
    margin-bottom:-50px;
    margin-top:20px;
}

.contact-title{
    padding-top:20px;
}

.form-label {
    font-size: 20px;
}

.contact-input:focus{
    outline: 3px solid #010042;
}

.btn-color {
    background-color:#0056b9; 
}
button > i{
    margin-right: 10px;
}

.btn-color:focus{
    outline: 3px solid #010042;
}
/* 

#0056b9, #159174 (teal), #010042 (navy), #f200ff (pink)

*/