html, body {
    margin: 0px;
    font-family: 'Questrial', sans-serif;
    font-size:18px;
    color:#010042;
    scroll-behavior: smooth; 
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.icon-gradient:before {
    background: -webkit-gradient(linear, left bottom, right top, from(#b8079a), to(#010042));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.light-text {
    color: white;
    padding: 20px;
    font-size:20px;
}

.darker-text {
    color: #010042;
    padding: 20px;
    font-size:20px;
}

.container-navy{
    background-color:#010042;
    margin-top:-16px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-white{
    background-color:#fff;
    margin-top:-15px;
}

.icon-heading{
    display: block;
}

/* Main polaroid image */
.polaroid{
    width:340px;
    border: 12px solid white;
    margin: 20px auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: rotate(-2deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.polaroid-text{
    background-color: #fff;
    padding:10px 5px;
    display:block;
    border: 2px solid white;
    outline:1px solid white;
    text-align:center;
    font-family: 'Schoolbell', cursive;
    color:#010042;
    word-break: normal;
    /* font-family: 'Gochi Hand', cursive; */
}

.polaroid-img{
    object-fit: cover;
    width:100%;
    height:260px;
}
/* /. */

/* small polaroid img */
.polaroid-sml{
    width: 250px;
    height:auto;
    border: 12px solid white;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: rotate(-2deg) !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.polaroid-text-sml{
    background-color: #fff;
    padding:10px 5px;
    display:block;
    border: 2px solid white;
    outline:1px solid white;
    text-align:center;
    font-family: 'Schoolbell', cursive;
    color:#010042;
    word-break: normal;
}

.polaroid-img-sml{
    object-fit: cover;
    width:100%;
    height:auto;
}
/* /. */

.main-style{
    background-color:#fff;
}

@media only screen and (max-width:767px) {
    .light-text {
        font-size: 18px;
    }
    .darker-text {
        font-size: 18px;
    }
    .polaroid{
        width:300px;
    }
    .polaroid-img{
        height:230px;
    }
}

@media only screen and (min-width:768px) {
.credit-section-title {
    margin-left:5px;
    }
}

/* Credit style */
.tv-credit{
    display:block;
    margin-bottom: 35px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.radio-credit{
    display:block;
    margin-bottom: 35px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.online-credit{
    display:block;
    margin-bottom: 35px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

.theatre-credit{
    display:block;
    margin-bottom: 35px;
    /* border-left: 10px solid #0056b9; */
    padding-left:10px;
}

/* .tv-credit:nth-child(2){
    border-left: 10px solid #159174;
}

.tv-credit:nth-child(3){
    border-left: 10px solid #020058;
}

.tv-credit:nth-child(4){
    border-left: 10px solid #f200ff;
} */

.credit-title {
  font-size:20px;
  display:block;
  font-weight: 800;
  word-break: normal;
}

.credit-info {
    display:block;
    word-break: normal;
}

.credit-producer{
    word-break: normal;
    display:none;
}

.credit-channel{
    display:block;
}

.credit-section-title {
    margin-top: 30px;
    margin-bottom: -18px;
}

.credit-align{
    color: #010042;
    padding-bottom: 20px;
    font-size:20px;
}

.credit-align-title{
    margin-top:35px;
    margin-left:10px;
    margin-bottom:-5px;
}
@media only screen and (max-width:678px) {
    .theatre-align{
    margin-top:50px;
    }
}
/* form style */
.form-color{
    background-color: #16BB95;
    color:#010042;
    font-weight:800;
    margin-bottom:-55px;
    margin-top:20px;
    padding-bottom:20px;
}
.form-group{
    margin-bottom: 35px;
}
.contact-title{
    padding-top:20px;
}

.form-label {
    font-size: 20px;
}

/* .form-group:focus-within {
    color: red;
}  */

.contact-input:focus{
    outline: 3px solid #010042;
}

input[type=text], input[type=email], textarea{
    color:#010042 !important;
}

.btn-color {
    background-color:#010042;
    border: 2px solid transparent; 
    transition: .4s ease-in-out;
}

.btn-color:hover {
    background-color:#fff; 
    border: 2px solid #010042;
    color: #010042;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
button > i{
    margin-right: 10px;
}

.btn-color:focus{
    outline: 3px solid white;
}

a.media-link {
    color: #010042;
    background: -webkit-linear-gradient(360deg, #0056b9, #CB00D6, #010042);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #010042;
    /* border-bottom: 2px solid;
    border-image-source: linear-gradient(100deg, #0056b9, #CB00D6, #010042);
    border-image-slice: 1; */
  }

  a.media-link:hover {
    color:#0053B3;
    background: -webkit-linear-gradient(#0053B3, #0053B3, #0053B3);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #010042;
    /* border-bottom: 2px solid;
    border-image-source: linear-gradient(100deg, #0053B3, #0053B3, #0053B3);
    border-image-slice: 1; */
  }

  a.media-link:focus {
    color:#0053B3;
    outline: 2px solid #0053B3;
    border-bottom: 2px solid transparent;
    /* border-bottom: 2px solid;
    border-image-source: linear-gradient(100deg, transparent, transparent, transparent);
    border-image-slice: 1; */
  }

.brag-box {
    padding: 10px;
    background-color: #FFD700;
    color: #010042;
    margin: 10px 0px;
    display: inline-block;
    font-weight: 800;
    /* border: 2px solid #010042; */
}

span.brag-box > i {
    margin-right:10px;
}

span.morse-sub {
    display: block;
    margin-top: -18px;
    text-align: center;
    font-size: 30px;
}
/* 

#0056b9, #16BB95 (light teal), #159174 (dark teal), #010042 (navy), #f200ff (hot pink), #F47983 (mute pink)

*/
/*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    
}}